# cloudflare权限配置，drizzle-kit在generate和migrate的时候需要accountID、token,用于访问D1数据库
#
# 如何获得 account_id: 
# https://developers.cloudflare.com/fundamentals/account/find-account-and-zone-ids/
# 
# 如何创建cloudflare token: 
# https://developers.cloudflare.com/fundamentals/api/get-started/create-token/
# token开放d1读写权限即可，cloudflare的token好像没有精细到具体的数据库。
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_TOKEN=""

# cloudflare数据库配置
# DATABASE_ID 指定 drizzle-kit 要通过http接口访问的数据库
# D1_BINDING_NAME 指定 drizzle-orm 在运行时访问数据库时使用的binding name
CLOUDFLARE_DATABASE_ID=""
D1_BINDING_NAME=""
